<div class="task-form mx-auto mx-md-3 mx-lg-auto">

  <!-- Toast Notification -->
  <div
    *ngIf="toastMessage"
    [ngClass]="toastType"
    class="toast position-fixed top-0 end-0 m-3 d-block"
    style="z-index: 9999; animation: fadeIn 0.3s ease;">
    {{ toastMessage }}
  </div>

  <!-- Add Section -->
  <div class="add-section d-flex gap-2 mb-2">
    <input
      [(ngModel)]="title"
      placeholder="Enter a new task..."
      class="input form-control"
    >
    <button (click)="addTask()" class="add-btn">Add</button>
  </div>

  <!-- Search Section -->
  <div class="search-section d-flex gap-2">
    <input
  [(ngModel)]="search"
  (ngModelChange)="onSearch()"
  placeholder="Search tasks..."
  class="input form-control"
>
    <button (click)="clearSearch()" class="clear-btn">Clear</button>
  </div>

</div>